<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="text-center">
  <h1>Sign In</h1>

  <%= form_with(model: @user, url: sessions_path, local: true) do |f| %>

    <!-- Field of sessoin form -->
    <div class='row'>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: 'Please enter email id' %>
    </div>

    <div class='row'>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: 'Please enter password' %>
    </div>

    <div class='row'>
      <%= f.label :capcha %>
      <%= f.text_field :capcha, value: rand(9999), readonly: true %>
    </div>

    <div class='row'>
      <%= f.label :enter_capcha %>
      <%= f.text_field :enter_capcha %>
    </div>

    <div class='row'>
      <%= f.submit 'Sign In' %>
    </div>

    <a href=<%= new_registration_path %>>Sign Up</a>
  <% end %>
</div>