<br>
<br>
<% if current_user.role_id == Role.where(name: "Admin").last.id %>
    <a href=<%= registrations_path %>> Assign role </a><br>
    <a href=<%= new_role_path %>> New Role </a><br>
<% end %>
<a href=<%= home_task_management_path %>>Task Managment </a><br><hr>
<a href=<%= home_expense_tracker_path %>>Expense Tracker </a><br><hr>
<a href=<%= currencies_path %>>Currency Converter </a><br><hr>
<a href=<%= home_travel_itenary_path %>>Travel Iternary </a><br><hr>
