<div class="text-center">
  <h1>New Category</h1>

  <%= form_with(model: @expenses, url: expenses_path, local: true) do |f| %>

    <!-- Field of sessoin form -->
    <div class='row'>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'Please enter category name' %>
    </div>

    <div class='row'>
      <%= f.label :description %>
      <%= f.text_field :description, placeholder: 'Please enter category name' %>
    </div>

    <div class='row'>
      <%= f.label :amount %>
      <%= f.number_field :amount, placeholder: 'Please enter category name' %>
    </div>

    <div class='row'>
      <%= f.label :date %>
      <%= f.date_field :date, placeholder: 'Please enter category name' %>
    </div>

    <div class='row'>
      <%= f.label :category_id %>
      <%= f.select :category_id, @categories.all.collect { |p| [p.name, p.id] }, { include_blank: 'Please enter Catgory' }, { class: 'form-control' } %>
    </div>

    <div class='row'>
      <%= f.label :subcategory_id %>
      <%= f.select :subcategory_id, @subcategories.all.collect { |p| [p.name, p.id] }, { include_blank: 'Please enter Catgory' }, { class: 'form-control' } %>
    </div>

    <div class='row'>
      <%= f.submit 'Create' %>
    </div>

  <% end %>
</div>